// @import "./slides/cover";
@import "./slides/dimbg";

.startingcover {
  .slide-background {
    opacity: 0.05 !important;
  }
}

.onebyoneobjectcomparison {
  .slide-background {
    opacity: 0.4 !important;
  }
}

.structureapplication {
  .cover.slide-background {
    opacity: 0.05 !important;
  }
}

.alwaysdofreshstart {
  .cover.slide-background {
    opacity: 0.2 !important;
  }
}

.donotrepeatyourself {
  .cover {
    &.slide-background {
      opacity: 0.05 !important;
    }
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 10px;
    .text {
      padding: 2rem 0;
    }
  }
}

.miscellaneous {
  .utility-img-holder {
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border: 5px solid;
      border-color: yellow;
      border-radius: 10px;
      &:hover {
        transform: scale(1.2);
      }
      &:last-of-type {
        border-color: purple;
        margin-left: 1rem;
      }
    }
  }

  .test-log-holder {
    display: flex;
    align-items: center;
    .iframe-holder {
      position: relative;
      height: 600px;
      width: 600px;
      iframe {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    .img-holder {
      width: 50%;
      img {
        border-radius: 5px;
        border: 2spx solid #eee;
      }
    }
    video {
      border-radius: 10px;
      border: 2spx solid rgba(238, 238, 238, 0.082);
    }
  }
}
